*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');
body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr auto;
    background: url('./images/bg-desktop.svg') no-repeat, hsl(257, 40%, 49%);
    background-size: auto 100%;
    background-attachment: scroll;
    font-family: 'Poppins', sans-serif;
    color: white;
}
main {
    grid-row: 1/2;
    grid-column: span 1;
    width: 100%;
    height: 100%;
}
footer {
    grid-row: 2/3;
    grid-column: span 1;
}

main section {
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 1fr 10%;
    padding: 0 5%;
}
figure.logo {
    grid-row: 1/2;
    grid-column: span 1;
    height: 100%;
    display: flex;
    align-items: center;
}

div.mid {
    grid-row: 2/3;
    grid-column: span 1;
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 2%;
}
div.illustration {
    grid-column: 1/2;
    height: 100%;
    display: flex;
    align-items: center;
}
div.illustration img {
    width: 100%;
}
article.info {
    grid-column: 2/3;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
p.info-heading {
    font-weight: 600;
    font-size: 3.3vw;
    margin-bottom: 5%;
}
p.info-desc {
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vw;
}
button.button {
    width: 159px;
    margin-top: 5%;
    height: 45px;
    border-radius: 40px;
    border: 0;
    outline: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: hsl(257, 40%, 49%);
    box-shadow: 5px 5px 20px rgb(0, 0, 0);
}
button.button:hover {
    background-color: hsl(300, 69%, 71%);
    color: white;
}
figure.social {
    grid-row: 3/4;
    grid-column: span 1;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}
div.social-container {
    width: 20px;
    height: 20px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 15px;
}
div.social-container,
div.social-container svg {
    border-color: white;
    fill: white;
}

div.social-container:hover,
div.social-container:hover svg {
    border-color: hsl(300, 69%, 71%);
    fill: hsl(300, 69%, 71%);
}
.social-container.facebook svg path {
    transform: scale(2);
}
div.social-container svg,
div.social-container svg path {
    width: 79%;
    height: 100%;
}

@media all and (max-width: 1024px) {
    body {
        background: url('./images/bg-mobile.svg') no-repeat, hsl(257, 40%, 49%);
        background-position: top;
        background-size: contain;
        text-align: center;
    }
    main section {
        padding: 0 3%;
        display: flex;
        flex-flow: column nowrap;
        overflow-y: auto;
    }
    figure.logo {
        flex: 0 0 17%;
    }
    figure.logo img {
        width: 30%;
    }
    div.mid {
        display: flex;
        flex-flow: column nowrap;
    }
    article.mid {
        display: block;
    }
    p.info-heading {
        font-size: 7.5vw;
    }
    p.info-desc {
        font-size: 5vw;
        line-height: 150%;
    }
    button.button {
        margin: 5% auto 3% auto;
        width: 65%;
        height: 10vw;
        font-size: 5vw;
    }
    figure.social {
        justify-content: center;
    }
    div.social-container {
        margin: 10% 4%;
        width: 6vw;
        height: 6vw;
    }
}
